*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    display: flex;
    min-height: 100vh;
}
.confunto{
    margin: auto;
    width: 90%;
    max-width: 300px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    
}
.titulo{
    font-size: 2rem;
    margin-bottom: .5em;
    color: red;
    
}
.comentario{
    font-weight: 300;
    
}
.link{
    font-weight: 400;
    color:blue;
}
.completar{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.formulario{
    position: relative;
    color:brown;
}
.digitar{
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
   
}

.entrar{
    display: inline-block;
    background-color:rgb(0, 140, 255);
    color:aliceblue;
    text-decoration: nome;
    padding: 12px 30px;
    font-weight: 300;
}

@media (max-widcht:425px){
    .titulo{
        font-size: 1.8rem;
    }
}
  /*background-color:springgreen;*/